In [1]:
import pandas as pd
import glob
import re
import numpy
import os
import requests

# Gestion des avis d'opéré

In [2]:
#Extract
os.system('mkdir -p avis_opere_working')
os.system('for f in ./avis_opere_raw/*.pdf; do pdftotext -enc UTF-8 $f; done')
os.system('mv ./avis_opere_raw/*.txt ./avis_opere_working/')

0

In [3]:
# Transform
files = glob.glob('./avis_opere_working/*.txt')

In [4]:
p1 = re.compile('Quantité.[0-9]+')
p2 = re.compile('Code ISIN.:.[A-Z0-9]{12}')
p3 = re.compile('Date et heure locale d\'exécution\n.*\n.*')
p4 = re.compile('[0-9]+,[0-9]+')
p5 = re.compile('Frais.*\n')
p6 = re.compile('Montant net au.*')

In [5]:
df_ao = pd.DataFrame()
for file in files:
    with open(file) as f:
        content = f.read()
        quantite = int(p1.findall(content)[0].split(' ')[1])
        date = p3.findall(content)[0].split('\n')[1]
        montants = p4.findall(content)
        cours = montants[0]
        montant_brut = montants[1]
        comission = montants[2]
        lib_frais = p4.findall(p5.findall(content)[0])
        frais = lib_frais[0] if len(lib_frais) > 0 else 0
        lib_montant_net = p6.findall(content)[0]
        sens_cash = lib_montant_net.split(' ')[3]
        if 'GENFIT_PSR' in file:
            isin = 'FR0004163111'
            type_mvt = 'vente_droit'
        else:
            type_mvt = 'ACHAT' if sens_cash =='débit' else 'VENTE'
            isin = p2.findall(content)[0].split(':')[1].strip()
        montant_net = p4.findall(lib_montant_net)[0]
        csvline = [date, isin, type_mvt, sens_cash, quantite, cours, montant_brut, frais, comission, montant_net]
        dictOfWords = { i : [csvline[i]] for i in range(0, len(csvline) ) }
        df_ao = df_ao.append(pd.DataFrame(dictOfWords))

In [6]:
df_ao.columns = ['date', 'isin', 'type_mvt', 'sens_cash', 'quantite', 'cours', 'montant_brut', 'frais', 'comission', 'montant_net']
df_ao['date'] = pd.to_datetime(df_ao['date'], format='%d/%m/%Y')
df_ao.sort_values('date')

,date,isin,type_mvt,sens_cash,quantite,cours,montant_brut,frais,comission,montant_net
0,2014-05-05,FR0000120271,ACHAT,débit,6,"50,80","304,80","0,61","1,99","307,40"
0,2014-06-13,FR0000066672,ACHAT,débit,4,"18,07","72,28",0,"1,99","74,27"
0,2015-03-16,FR0000066672,VENTE,crédit,4,"19,96","79,84",0,"1,99","77,85"
0,2015-03-25,FR0000133308,ACHAT,débit,6,"15,195","91,17","0,18","1,99","93,34"
0,2015-04-24,FR0000120271,VENTE,crédit,6,"48,440","290,64",0,"1,99","288,65"
0,2015-04-24,FR0004163111,ACHAT,débit,7,"41,100","287,70",0,"1,99","289,69"
0,2015-11-11,FR0000133308,VENTE,crédit,6,"16,500","99,00",0,"1,99","97,01"
0,2015-11-13,FR0010208488,ACHAT,débit,6,"16,100","96,60","0,19","1,99","98,78"
0,2016-10-20,FR0004163111,vente_droit,crédit,7,"0,441","3,09",0,"1,99","1,10"
0,2017-05-05,FR0010878033,ACHAT,débit,3,"53,880","161,64",0,"1,99","163,63"
0,2018-05-16,FR0004035913,ACHAT,débit,1,"136,55","136,55","0,41","1,99","138,95"
0,2018-05-28,FR0004035913,VENTE,crédit,1,"148,20","148,20",0,"1,99","146,21"
0,2018-07-02,LU1681047079,ACHAT,débit,4,"53,60","214,40",0,"1,99","216,39"
0,2018-10-26,LU1681047079,ACHAT,débit,2,"50,55","101,10",0,"1,99","103,09"
0,2019-05-28,FR0013041530,ACHAT,débit,52,"9,5700","497,64",0,"1,99","499,63"
0,2019-05-29,FR0011869353,ACHAT,débit,40,"16,483","659,32",0,"3,96","663,28"
0,2020-03-13,LU1681047079,ACHAT,débit,10,"41,200","412,00",0,"1,99","413,99"
0,2020-03-20,FR0013041530,ACHAT,débit,42,"8,4400","354,48",0,"1,99","356,47"
0,2020-03-20,LU1681047079,ACHAT,débit,20,"40,950","819,00",0,"4,91","823,91"

# Gestion des relevés coupons

In [7]:
#Extract
os.system('mkdir -p releve_coupon_working')
os.system('for f in ./releve_coupon_raw/*.pdf; do pdftotext -enc UTF-8 $f; done')
os.system('mv ./releve_coupon_raw/*.txt ./releve_coupon_working/')

0

In [8]:
# Transform
files = glob.glob('./releve_coupon_working/*.txt')

In [9]:
p1 = re.compile('[0-9]{2}/[0-9]{2}/[0-9]{4}')
p2 = re.compile('\([A-Z0-9]{12}\)')
p3 = re.compile('Net client EUR .*')
p4 = re.compile('[0-9]+,[0-9]+')

In [10]:
df_coupons = pd.DataFrame()
for file in files:
    with open(file) as f:
        content = f.read()
        date = p1.findall(content)[1]
        isin = p2.findall(content)[0][1:-1]
        montant = p4.findall(p3.findall(content)[0])[0].replace(',','.')
        csvline = [date, isin, montant]
        dictOfWords = { i : [csvline[i]] for i in range(0, len(csvline) ) }
        df_coupons = df_coupons.append(pd.DataFrame(dictOfWords))

In [11]:
df_coupons.columns = ['date', 'isin', 'coupon']
df_coupons['date'] = pd.to_datetime(df_coupons['date'], format='%d/%m/%Y')
df_coupons['coupon'] = pd.to_numeric(df_coupons['coupon'])
df_coupons = df_coupons.sort_values('date')

# Gestion des relevés Espèces

In [12]:
#Extract
os.system('mkdir -p releve_espece_working')
os.system('for f in ./releve_espece_raw/*.pdf; do pdftotext -enc UTF-8 -table $f; done')
os.system('mv ./releve_espece_raw/*.txt ./releve_espece_working/')

0

In [13]:
files = glob.glob('./releve_espece_working/*.txt')

In [14]:
p1 = re.compile('\n[0-9]{2}/[0-9]{2}/[0-9]{4}.*\n')
p2 = re.compile('  [A-Za-z ]+')
p3 = re.compile('[0-9]{0,3}[ ]{0,1}[0-9]{1,3},[0-9]+$')
p4 = re.compile('.*(VIR|COUPON|VENTE|CREDIT CB)')
p5 = re.compile('.*(ACHAT|SOUSCRIPTION)')

In [15]:
df_mvt_cash = pd.DataFrame()
for file in files:
    with open(file) as f:
        content = f.read()
        var = 0
        try:
            for i in p1.findall(content):
                if 'OUVERTURE DU COMPTE ESPECES' in i:
                    continue
                if 'ANCIEN SOLDE' in i:
                    solde_debut = float(i.split(' ')[-1].replace(',','.'))
                    continue
                if 'NOUVEAU SOLDE' in i:
                    solde_fin = float(i.split(' ')[-1].replace(',','.'))
                    continue
                raw_date = i[0:11]
                date = raw_date.replace('\n','')
                raw_montant = p3.findall(i)[0]
                montant = float(raw_montant.replace(',','.').replace(' ', ''))
                label = re.sub(' +', ' ',i.replace(raw_date,'').replace(raw_montant,'')).replace('\n',' ')
                if(p4.match(label)):
                    type_mvt = p4.match(label).group(1)
                    sens = 'entree'
                    var = var + montant
                elif(p5.match(label)):
                    type_mvt = p5.match(label).group(1)
                    sens = 'sortie'
                    var = var - float(montant)
                else:
                    print(label)
                    print('Sens non déterminé')
                    raise
                csvline = [date, label, type_mvt, sens, montant]
                dictOfWords = { i : [csvline[i]] for i in range(0, len(csvline) ) }
                df_mvt_cash = df_mvt_cash.append(pd.DataFrame(dictOfWords))
            if((solde_fin - solde_debut) - var > 0.001):
                print(solde_debut)
                print(solde_fin)
                print(var)
                print('Erreur coherence fichier')
                raise
        except:
            print('erreuur...')

In [16]:
def transform_qty(row):
    if row['type_mvt'] in ['ACHAT', 'VENTE', 'SOUSCRIPTION'] :
        return row['montant'] * -1
    return row['montant']

In [17]:
df_mvt_cash.columns = ['date', 'label', 'type_mvt', 'sens' , 'montant']
df_mvt_cash['date'] = pd.to_datetime(df_mvt_cash['date'], format='%d/%m/%Y')
df_mvt_cash = df_mvt_cash.sort_values('date')
df_mvt_cash['solde'] = df_mvt_cash.apply(lambda x: x['montant'] if x['sens'] =='entree' else x['montant'] * -1 ,axis=1).cumsum()
df_mvt_cash['isin'] = 'CASH'
df_mvt_cash['quantite'] = df_mvt_cash.apply(transform_qty,axis=1)

# Gestion des OST

In [18]:
#Extract
os.system('mkdir -p ost_working')
os.system('for f in ./ost_raw/*.pdf; do pdftotext -enc UTF-8 -table $f; done')
os.system('mv ./ost_raw/*.txt ./ost_working/')

0

In [19]:
files = glob.glob('./ost_working/*.txt')

In [20]:
p1 = re.compile('[0-9]{2}/[0-9]{2}/[0-9]{4}.*\n')
p2 = re.compile('[0-9]{0,3}[ ]{0,1}[0-9]{1,3},[0-9]+ EUR.*[A-Z0-9]{12}')

In [21]:
df_ost = pd.DataFrame()
for file in files:
    with open(file) as f:
        content = f.read()
        date =  p1.findall(content)[0].replace('\n','')
        ost = list(filter(lambda x: x != "", p2.findall(content)[0].split(' ')))
        montant_brut = ost[0]
        quantite = ost[2]
        cours = ost[4]
        isin = ost[6]
        type_mvt = 'ACHAT'
        sens_cash = 'sortie'
        frais = 0 
        comission = 0
        montant_net = ost[0]
        csvline = [date, isin, type_mvt, sens_cash, quantite, cours, montant_brut, frais, comission, montant_net]
        dictOfWords = { i : [csvline[i]] for i in range(0, len(csvline) ) }
        df_ost = df_ost.append(pd.DataFrame(dictOfWords))

In [22]:
df_ost.columns = ['date', 'isin', 'type_mvt', 'sens_cash', 'quantite', 'cours', 'montant_brut', 'frais', 'comission', 'montant_net']
df_ost['date'] = pd.to_datetime(df_ost['date'], format='%d/%m/%Y')
df_ost = df_ost.sort_values('date')

# Merge des mouvements

In [23]:
cols = ['date', 'isin', 'type_mvt', 'quantite']
df_mouvements = df_ao[cols].append(df_ost[cols]).append(df_mvt_cash[cols]).sort_values('date')

## HACK OST
2 isins me pose problème:
FR0013457272 (FDJ) ne correspond pas à celui qui cote => FR0013451333
FR0010878033 (Amundi Cac40) => LU1681047079

In [24]:
df_mouvements['isin'] = df_mouvements['isin'].replace('FR0013457272', 'FR0013451333')
df_mouvements['isin'] = df_mouvements['isin'].replace('FR0010878033', 'LU1681047079')

# Construire position à partir des mouvements

In [64]:
positions = pd.DataFrame()
for index, row in df_mouvements.iterrows():
    last_positions = pd.DataFrame()
    if 'date' in positions:
        last_positions = positions[positions['date'] == positions['date'].unique()[-1]]
        last_positions['date'] = row['date']
        
        if row['isin'] in list(last_positions['isin']):
            #Buy or sell
            prev_quanite = last_positions.loc[last_positions['isin'] == row['isin'], 'quantite']
            if row['type_mvt'] == 'VENTE':
                new_quantite = prev_quanite - row['quantite'] 
            elif row['type_mvt'] in ['ACHAT', 'SOUSCRIPTION']:
                new_quantite = prev_quanite + row['quantite'] 
            elif row['type_mvt'] in ['COUPON', 'VIR', 'CREDIT CB']:
                new_quantite = prev_quanite + row['quantite'] 
            else:
                new_quantite = prev_quanite
            last_positions.loc[last_positions['isin'] == row['isin'], 'quantite'] = new_quantite
        else:
            #New Isin
            positions = positions.append(pd.DataFrame({'date':[row['date']], 'isin': [row['isin']], 'quantite': [row['quantite']]}))
        
        # Always
        positions = positions.append(last_positions).drop_duplicates(subset=['date','isin'], keep='last')
        #positions = positions[positions['quantite'] != 0]
    else:
        positions = positions.append(pd.DataFrame({'date':[row['date']], 'isin': [row['isin']], 'quantite': [row['quantite']]}))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:480: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

# Get price history of all value in position

In [44]:
price = pd.DataFrame()
for isin in positions['isin'].unique():
    if isin == 'CASH':
        print('CASH')
    else:
        print(isin)
        response = requests.get("https://api.lgauthier.com/histo?isin={}".format(isin))
        if response.status_code == 200:
            price = price.append(pd.DataFrame(response.json()))
        else:
            print('try again')
            response = requests.get("https://api.lgauthier.com/histo?isin={}".format(isin))
            if response.status_code == 200:
                price = price.append(pd.DataFrame(response.json()))
            else:
                print('error')
price = price.reset_index(drop=True)

CASH
FR0000120271
FR0000066672
FR0000133308
FR0004163111
FR0010208488
LU1681047079
FR0004035913
FR0013041530
FR0011869353
try again
FR0013451333

In [140]:
def format_date(date):
    try:
        tmp = date.split(' ')[0]
        arr = tmp.split('/')
        return arr[2] + '-' + arr[1] + '-' + arr[0]
    except:
        return date
price['date'] = price['date'].apply(lambda x: format_date(x))
price['date'] = pd.to_datetime(price['date'])

In [149]:
# Create a DataFrame for Cash EUR
cash_price = pd.DataFrame({'date':  pd.to_datetime(price['date'])})
cash_price['isin'] = 'CASH'
cash_price['clot'] = 1

In [158]:
inventaire_raw = price.append(cash_price)[['isin', 'date', 'clot']].merge(positions, on=['date', 'isin'], how='outer').sort_values(['date'])

In [173]:
inventaire = inventaire_raw.set_index(['isin', 'date']).groupby(level='isin').ffill().dropna().reset_index().dropna().drop_duplicates(keep='last')
inventaire['clot'] = inventaire['clot'].astype(float)
inventaire['quantite'] = inventaire['quantite'].astype(float)
inventaire['valeur_boursiere'] = inventaire['clot'] * inventaire['quantite']

In [174]:
#controle => OK :) 
inventaire[inventaire['date'] == '2020-05-08']['valeur_boursiere'].sum()

3888.765

In [175]:
inventaire.to_csv('lga_inventaire.csv')

# Push Firebase

In [204]:
firebase_inventaire = inventaire
firebase_inventaire['date'] = firebase_inventaire['date'].astype(str)

In [205]:
conf = {
  "type": "service_account",
  "project_id": "pricer-c75a5",
  "private_key_id": "39c68ec147416ff9d5a706c726de6733b12c7331",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC59tEKxLJPS3Kt\ngDrcF9jSK88ANwxHWRCW9gbDz+IdFD+KNVAf1BweTDsdbHQa1bGADchKWWhSQFRl\ngg1ncqWn60t5wmsUgNOVeMy1kPLA9TEBOS2M6S8sHDO6J+T5lUNtq0u/QL3uK5HL\nRu8wL8PMa5RE3NLEx5jwAWCkMt5xrLxGZYY9Q/VMb85yyD0lbg0o9r7nKlykFQpR\njfWIr7MYrJzQDESYPOrT1cqbl75s9+uLshcr2FtQDHz9eNgI+9fOpTt9DIuvLVgZ\n1Zv73/L2KbTK4JYwMVpGH44ePcDQqduCw5FoJ+rpvi/dXFZGluofZdNS0gGGhHxB\nsZCvFchDAgMBAAECggEAJ6ImUEy2kfbLBJZJNSIx+C0VC38v8z7Urc/WhkIWd0sa\n9apCHt52dbCagr1cC2IS1+9YChx/AtSqCA5NLAh/rMeViOg6KR8BuSALRQEU87Hu\nFUwp3JfQEW8bSSf6gYTh34w78xFpyUpo4rGGBbeQW89rxLdphj3h5vjsL2KWDRS9\nIfX4JDp/M5J4nbDr4YtkMAcgIJASKqPwnB1CuQ2PLBQWxRqbyxF0NRR+u/Bfu6KK\nvg7KQLZjZa+b/ZCiH6RMy11KvRtL1YU97LonJEAJk7ewHIM9hGCzHIXswUbV86jh\n/VxY7tic8tCspSMbW1nY+wwWM/9z61z69B34SM0ZRQKBgQD5M8VgHCf46m1QCZpW\nEAM0pZYUWmIN5qUnnzexJIWwahDhqGv0WhAxSZAMG73P0ZNyx5jdAccV31dw3RzN\nUTe07RjujA28iM0oUPQEOa1fhEd364Q8egCaDxWo573wVrIWBWrySBBjPtkcB6EZ\nTfqtIcGXfXBI4sP34yW1IdLNNQKBgQC/CXD2AT47x29n8lQ5ymK42kQiq386hSF0\nTfSZTOQl7xduaSuZ2I7sK9wfLEzIcDAOHwZCzAEV29X2MYWNSuEdSbS7FkGNeVP7\nJYBtjOVMSjUVrICmJcTX6Mttc8vmY1ExOlT1r6pe3sL1zF7FrrKlyzEXS2myECy4\nqHcxvqGGlwKBgQDbLY6Who0dn8n/EEMfGLxJDK5gPlJpmYd+vsmz0sSGsfMhFgnF\nA4WkY+f+zlN2ugRuemDXWR3p/eKhUMhpSNqvFa3M+X+HZ+bRY8oLAVOcY/Kb5ZgL\nvN5UoZnSUei7vvSo66DxcTKAp6E6xvcJE427wqnLfLdKU7A6kRz0H8iRVQKBgE1w\nQFAYdOe6klhqjOXYOmiAYbpEFpDcQpFowEwcNSeDYdYp37i/ZkAqD1K7nGxrva8b\nuGf/VjlMIdFohaCex94dcJueC/iTRA28R/EgehqQwjAE+yleigqTnVLC69Z6UAFK\nigIFsWQ/nHwS2h/8DwLR+RZeRXwevmIkOBz8D3IFAoGAQM/IiyrJbMO9SNHe/anp\nM0acgpTuSCbm8c6cIlM32N1w5kslopVkR3Ol2Tk9yo/CzBEXXEd5M9qTX/qRYZdo\nAs9MHQ1qtUMpD4PwKksm8CYHwXmpnBGo74MFXXhvI27rcHUAyezJy62Mhn1TXazp\n3db5FFsklm+32UFWxUhf5Sc=\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk-j4d5s@pricer-c75a5.iam.gserviceaccount.com",
  "client_id": "117890592080580074862",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-j4d5s%40pricer-c75a5.iam.gserviceaccount.com"
}

In [191]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db
import json


credentials = firebase_admin.credentials.Certificate(conf)
try:
    app = firebase_admin.initialize_app(credentials, { 'databaseURL': 'https://' + conf['project_id'] + '.firebaseio.com' }, 'menu_laurentAAAA')
except:
    print('An error has occured...')

In [206]:
db.reference(path='private/inventaire/', app=app).set(firebase_inventaire.to_dict('records'))

In [210]:
firebase_mouvement = df_mouvements
firebase_mouvement['date'] = firebase_mouvement['date'].astype(str)
firebase_mouvement

          date          isin type_mvt quantite
0   2014-04-25          CASH      VIR      320
0   2014-05-05  FR0000120271    ACHAT        6
0   2014-05-05          CASH    ACHAT   -307.4
0   2014-06-05          CASH   COUPON     3.66
0   2014-06-13          CASH      VIR       80
..         ...           ...      ...      ...
0   2020-03-20          CASH    ACHAT  -823.91
0   2020-03-20  LU1681047079    ACHAT       20
0   2020-03-20  FR0013041530    ACHAT       42
0   2020-03-20          CASH    ACHAT  -356.47
0   2020-03-20          CASH      VIR     1000

[92 rows x 4 columns]

In [213]:
print(df_mvt_cash)
print('---')
print(df_ao)

         date                                    label   type_mvt    sens  \
0  2014-04-25           VIR VIREMENT CREATION COMPTE          VIR  entree
0  2014-05-05                 ACHAT COMPTANT 6 TOTAL        ACHAT  sortie
0  2014-06-05         COUPONS ECHEANCE 05/06 6 TOTAL       COUPON  entree
0  2014-06-13                   VIR GAUTHIER Laurent          VIR  entree
0  2014-06-13             ACHAT COMPTANT 4 GL EVENTS        ACHAT  sortie
..        ...                                      ...        ...     ...
0  2020-03-13                              CREDIT CB    CREDIT CB  entree
0  2020-03-13    ACHAT COMPTANT 10 A.CAC40 U.E.EUR D        ACHAT  sortie
0  2020-03-20    ACHAT COMPTANT 42 BNPP E.S P 500 U.        ACHAT  sortie
0  2020-03-20    ACHAT COMPTANT 20 A.CAC40 U.E.EUR D        ACHAT  sortie
0  2020-03-20   VIR Virement interne depuis BOURSORA          VIR  entree

    montant   solde  isin  quantite
0    320.00  320.00  CASH    320.00
0    307.40   12.60  CASH   -307.40
0      3.66   16.26  CASH      3.66
0     80.00   96.26  CASH     80.00
0     74.27   21.99  CASH    -74.27
..      ...     ...   ...       ...
0    500.00  622.18  CASH    500.00
0    413.99  208.19  CASH   -413.99
0    356.47 -148.28  CASH   -356.47
0    823.91 -972.19  CASH   -823.91
0   1000.00   27.81  CASH   1000.00

[72 rows x 8 columns]
---
        date          isin     type_mvt sens_cash  quantite   cours  \
0 2019-05-28  FR0013041530        ACHAT     débit        52  9,5700
0 2018-05-16  FR0004035913        ACHAT     débit         1  136,55
0 2015-03-25  FR0000133308        ACHAT     débit         6  15,195
0 2015-11-11  FR0000133308        VENTE    crédit         6  16,500
0 2015-04-24  FR0000120271        VENTE    crédit         6  48,440
0 2017-05-05  FR0010878033        ACHAT     débit         3  53,880
0 2020-03-13  LU1681047079        ACHAT     débit        10  41,200
0 2018-07-02  LU1681047079        ACHAT     débit         4   53,60
0 2018-05-28  FR0004035913        VENTE    crédit         1  148,20
0 2014-06-13  FR0000066672        ACHAT     débit         4   18,07
0 2015-11-13  FR0010208488        ACHAT     débit         6  16,100
0 2015-04-24  FR0004163111        ACHAT     débit         7  41,100
0 2016-10-20  FR0004163111  vente_droit    crédit         7   0,441
0 2014-05-05  FR0000120271        ACHAT     débit         6   50,80
0 2020-03-20  LU1681047079        ACHAT     débit        20  40,950
0 2020-03-20  FR0013041530        ACHAT     débit        42  8,4400
0 2015-03-16  FR0000066672        VENTE    crédit         4   19,96
0 2018-10-26  LU1681047079        ACHAT     débit         2   50,55
0 2019-05-29  FR0011869353        ACHAT     débit        40  16,483

  montant_brut frais comission montant_net
0       497,64     0      1,99      499,63
0       136,55  0,41      1,99      138,95
0        91,17  0,18      1,99       93,34
0        99,00     0      1,99       97,01
0       290,64     0      1,99      288,65
0       161,64     0      1,99      163,63
0       412,00     0      1,99      413,99
0       214,40     0      1,99      216,39
0       148,20     0      1,99      146,21
0        72,28     0      1,99       74,27
0        96,60  0,19      1,99       98,78
0       287,70     0      1,99      289,69
0         3,09     0      1,99        1,10
0       304,80  0,61      1,99      307,40
0       819,00     0      4,91      823,91
0       354,48     0      1,99      356,47
0        79,84     0      1,99       77,85
0       101,10     0      1,99      103,09
0       659,32     0      3,96      663,28